<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>TransitMix</title>
  <meta name="description" content="For those who want to remix more than streets.">
  <meta name="viewport" content="width=device-width">
  <!-- TypeKit -->
  <script type="text/javascript" src="http://use.typekit.net/xkd8pzb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- MapBox -->
  <link href="http://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css" rel="stylesheet" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= render 'templates' %>
  <%= render 'javascripts' %>
</body>
</html>
